*.java linguist-detectable=true
*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false

* linguist-vendored
*.java linguist-vendored=false

src/* linguist-documentation=false
src/* linguist-vendored
